@if (items$ | async; as items) {
  <div class="card">
    <p-table [value]="items" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Inventory items</span>
          <p-button icon="pi pi-refresh" rounded raised />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <!--<th>Image</th>-->
          <th pSortableColumn="name" style="width: 20%">
            <p-sortIcon field="name"/>
          </th>
          <th pSortableColumn="brand" style="width: 20%">
            <p-sortIcon field="brand"/>
          </th>
          <th pSortableColumn="serialNumber" style="width: 20%">
            <p-sortIcon field="serialNumber"/>
          </th>
          <th pSortableColumn="description" style="width: 20%">
            <p-sortIcon field="description"/>
          </th>
          <th pSortableColumn="amount" style="width: 20%">
            <p-sortIcon field="amount"/>
          </th>
          <th pSortableColumn="status" style="width: 20%">
            <p-sortIcon field="sold"/>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <!--<td>
            <img
              [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
              [alt]="product.name"
              class="w-24 rounded"
            />
          </td>-->
          <td>{{ item.name }}</td>
          <td>{{ item.brand }}</td>
          <td>{{ item.serialNumber }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.sold }}</td>
          <!--<td>
            <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
          </td>-->
        </tr>
      </ng-template>
      <ng-template #footer> In total there are {{ items ? items.length : 0 }} items. </ng-template>
    </p-table>
  </div>

  <pre>{{items | json}}</pre>
}
