<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a routerLink="/">
        <img ngSrc="assets/buddyMain.png" alt="logo" class="mr-2" height="50" width="50" priority="1"/>
      </a>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="inline-flex align-items-center p-menuitem-link" routerLink="{{ item.routerLink }}"
         routerLinkActive="active" *ngIf="auth.isAuthenticated$">
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <!--<p-inputSwitch styleClass="dark-mode-switch" class="inline-flex justify-content-center mr-2"
                     [(ngModel)]="isDarkMode" (ngModelChange)="toggleDarkMode()"/>-->

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <div *ngIf="auth.user$ | async as user" class="inline-flex justify-content-center">
          <p-avatar
            (click)="auth.logout()"
            image="{{ user.picture }}"
            size="xlarge"
            shape="circle"/>
        </div>
      </ng-container>

      <ng-template #loggedOut>
        <div class="inline-flex justify-content-center">
          <p-button icon="pi pi-sign-in" (click)="auth.loginWithRedirect()"></p-button>
        </div>
      </ng-template>
    </ng-template>
  </p-menubar>
</div>
